/*https://buddha-api.com/ USAR ESSA API */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* 1rem = 10px */
  font-size: 62.5%;
}
body {
  background-color: #b3b4bd;
  transition: background-color 1.4s ease;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
}
div {
  display: flex;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-title {
  color: #050a44;
  margin-top: 0.5rem;
  font-size: 5rem;
  align-self: center;
}
.reset {
  margin: 0.5rem 0.5rem;
  align-self: flex-end;
  order: -1;
  background: none;
  border: none;
  font-weight: 700;
}
.reset:hover {
  color: #fa0b03;
  transition: 0.9s;
}
.timeto {
  transition: all 2s ease;
  font-size: 4rem;
  margin-top: 1.4rem;
  text-align: center;
}
.container {
  margin: 4rem auto 0;
  width: 41rem;
  height: 35rem;
  background-color: #fff;
  border-radius: 0.8rem;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem;
  align-items: center;
}
.top-buttons {
  transform: translate(0%, -70%);
}
.btn1 {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  background-color: #0a21c0;
  color: white;
  font-weight: 700;
}
.btn1:hover {
  background-color: #050a44;
  transition: 1.3s;
}
.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  background-color: #b3b4bd;
  color: rgb(0, 0, 0);
  font-weight: 700;
}
.play:hover {
  color: white;
  background-color: #141619;
  transition: 1.3s;
}
.maladoro {
  margin-right: 7rem;
}
.timer {
  transform: translate(0%, 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  font-weight: bold;
}
.bottom-buttons {
  display: flex;
}
.play {
  transform: translate(0%, 70%);
}

.material-icon {
  transition: 1.3s all;
  transform: translate(200%, 70%);
  align-self: stretch;
  background-color: #8591dc;
  border-radius: 20rem;
  box-shadow: 0.4rem 0.3rem 2.2rem 0.1rem rgba(0, 0, 0, 0.24);
}
.material-icon:active {
  box-shadow: 0.3rem 0.16rem 1.8rem 0.1rem rgba(0, 0, 0, 0.24);
}
.material-icon:hover {
  background-color: #0a21c0;
}
.counters {
  font-size: 1.6rem;
  font-weight: 600;
  display: block;
  text-align: center;
  margin-top: 1rem;
}
